html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.source-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.source-selection.active {
  justify-content: center;
}

#audio {
  width: 100%;
}
